# IMPORT REQUIRED LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
import pickle

# READ THE DATASET

In [5]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
data=pd.read_csv('/content/drive/MyDrive/autos - autos.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/autos - autos.csv") # import dataset
print(df)

                dateCrawled                                          name  \
0       2016-03-24 11:52:17                                    Golf_3_1.6
1       2016-03-24 10:58:45                          A5_Sportback_2.7_Tdi
2       2016-03-14 12:52:21                Jeep_Grand_Cherokee_"Overland"
3       2016-03-17 16:54:04                            GOLF_4_1_4__3TÃœRER
4       2016-03-31 17:25:20                Skoda_Fabia_1.4_TDI_PD_Classic
...                     ...                                           ...
371523  2016-03-14 17:48:27                    Suche_t4___vito_ab_6_sitze
371524  2016-03-05 19:56:21         Smart_smart_leistungssteigerung_100ps
371525  2016-03-19 18:57:12            Volkswagen_Multivan_T4_TDI_7DC_UY2
371526  2016-03-20 19:41:08                        VW_Golf_Kombi_1_9l_TDI
371527  2016-03-07 19:39:19  BMW_M135i_vollausgestattet_NP_52.720____Euro

        seller offerType  price   abtest vehicleType  yearOfRegistration  \
0       privat   Angebot    480     test         NaN                1993
1       privat   Angebot  18300     test       coupe                2011
2       privat   Angebot   9800     test         suv                2004
3       privat   Angebot   1500     test  kleinwagen                2001
4       privat   Angebot   3600     test  kleinwagen                2008
...        ...       ...    ...      ...         ...                 ...
371523  privat   Angebot   2200     test         NaN                2005
371524  privat   Angebot   1199     test      cabrio                2000
371525  privat   Angebot   9200     test         bus                1996
371526  privat   Angebot   3400     test       kombi                2002
371527  privat   Angebot  28990  control   limousine                2013

          gearbox  powerPS        model  kilometer  monthOfRegistration  \
0         manuell        0         golf     150000                    0
1         manuell      190          NaN     125000                    5
2       automatik      163        grand     125000                    8
3         manuell       75         golf     150000                    6
4         manuell       69        fabia      90000                    7
...           ...      ...          ...        ...                  ...
371523        NaN        0          NaN      20000                    1
371524  automatik      101       fortwo     125000                    3
371525    manuell      102  transporter     150000                    3
371526    manuell      100         golf     150000                    6
371527    manuell      320      m_reihe      50000                    8

       fuelType           brand notRepairedDamage         dateCreated  \
0        benzin      volkswagen               NaN  2016-03-24 0:00:00
1        diesel            audi                ja  2016-03-24 0:00:00
2        diesel            jeep               NaN  2016-03-14 0:00:00
3        benzin      volkswagen              nein  2016-03-17 0:00:00
4        diesel           skoda              nein  2016-03-31 0:00:00
...         ...             ...               ...                 ...
371523      NaN  sonstige_autos               NaN  2016-03-14 0:00:00
371524   benzin           smart              nein  2016-03-05 0:00:00
371525   diesel      volkswagen              nein  2016-03-19 0:00:00
371526   diesel      volkswagen               NaN  2016-03-20 0:00:00
371527   benzin             bmw              nein  2016-03-07 0:00:00

        nrOfPictures  postalCode             lastSeen
0                  0       70435   2016-04-07 3:16:57
1                  0       66954   2016-04-07 1:46:50
2                  0       90480  2016-04-05 12:47:46
3                  0       91074  2016-03-17 17:40:17
4                  0       60437  2016-04-06 10:17:21
...              ...         ...                  ...
371523             0       39576   2016-04-06 0:46:52
371524             0       26135  2016-03-11 18:17:12
371525             0       87439   2016-04-07 7:15:26
371526             0       40764  2016-03-24 12:45:21
371527             0       73326   2016-03-22 3:17:10

[371528 rows x 20 columns]

CLEANING THE DATASET

In [7]:
print(df.seller.value_counts)

<bound method IndexOpsMixin.value_counts of 0         privat
1         privat
2         privat
3         privat
4         privat
           ...
371523    privat
371524    privat
371525    privat
371526    privat
371527    privat
Name: seller, Length: 371528, dtype: object>

In [9]:
df[df.seller !='gewerbich']
df=df.drop('seller',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [11]:
print(df.offerType.value_counts())
df[df.offerType != 'Gesuch']
df=df.drop('offerType',1)

Angebot    371516
Gesuch         12
Name: offerType, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [16]:
df = df[(df.powerPS > 50) & (df.powerPS < 900)]
print(df.shape)

(319709, 18)